body {
    margin: 30px;
    background-color: #F6EEBA;
    font-family: 'Playfair Display', serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
      font-weight: 600;
  }
  h2 {
      font-weight: 500;
  }
  p {
    font-family: 'Montserrat', sans-serif;
  }
  .button {
      border: none;
      color: white;
      font-family: 'Playfair Display', serif;
      font-weight: 900;
      padding: 15px 32px;
      text-align: center;
      font-size: 35px;
      top: 800px;
      left: -800px;
  }
  .button1 {
      color: #6fbea4;
      background-color: #3b3b47;
  }
  .button2 {
      color: #3b3b47;
      background-color: #6fbea4;
  }